<div class="c-block {{ block_classes }} {{ has_top_title ? 'c-block--top-title' }}">

  {% if has_top_title %}
    <{{ is_h2 ? 'h2' : 'h3' }} class="c-block__title {{ block_title_classes }}"><a class="c-block__title-link" href="">{{ block_title }}</a></{{ is_h2 ? 'h2' : 'h3' }}>
  {% endif %}

  {% block block_media %}
    {% if block_media %}
      <div class="c-block__media">

        <a href="">
          {% if has_picture %}
            {% include '@atoms/images/picture.twig' with block_media %}
          {% else %}
            {% include '@atoms/images/image.twig' with block_media %}
          {% endif %}
        </a>

        {% if media_tag %}
          <a href="" class="c-block__tag o-kicker">{{ media_tag }}</a>
        {% endif %}

      </div>
    {% endif %}
  {% endblock %}

  {% block block_object %}
    <div class="c-block__object u-spacing--half">

      {% if kicker %}
        <div class="c-block__eyebrow">
          {% include '@atoms/text/kicker.twig' %}
        </div>
      {% endif %}

      {% if not has_top_title %}
        <{{ is_h2 ? 'h2' : 'h3' }} class="c-block__title {{ block_title_classes }}"><a class="c-block__title-link" href="">{{ block_title }}</a></{{ is_h2 ? 'h2' : 'h3' }}>
      {% endif %}

      <div class="u-spacing">
        {% if block_dek %}
          <div class="c-block__dek o-rte-text">
            <p>{{ block_dek }}</p>
          </div>
        {% endif %}

        {% block block_meta %}
          {% if block_meta %}
            {% include '@molecules/meta/block-meta.twig' with block_meta %}
          {% endif %}
        {% endblock %}
      </div>

    </div>
  {% endblock %}

</div>
